{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stackon - Know Your Assets</title>
    <!---===============  FAVICON =======================  -->
    <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon" />
    <!--- ============== CUSTOM CSS LINK ==================  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- =============== SWIPER CSS LINK =================== -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!--- =============== GOOGLE FONT LINK ================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="top">
    <!-- =================== HEADER ====================== -->
    <header class="header" id="header">
      <div class="banner">
        <div class="banner-container">
          {% for asset in assets%}
          <h5 class="banner_asset">{{asset.name }}:</h5>
          {% if asset.next_1d_percent >= 0.0 %}
          <h5 class="banner_asset_increase pos">+{{ asset.next_1d_percent }}%</h5>
          {% elif asset.next_1d_percent <= 0.0 %}
          <h5 class="banner_asset_increase neg">{{ asset.next_1d_percent }}%</h5>
          {% else %}
          <h5 class="banner_asset_increase neu">{{ asset.next_1d_percent }}%</h5>
          {% endif %}    
          {%endfor%}
        </div>
      </div>
      <div class="nav">
        <a href="/" class="logo header-item">
          <img src="{% static 'images/stackon-logo.png' %}" alt="Stackon logo" />
        </a>
        <div class="header-right">
          
          <div class="profile-info">
            <div class="profile-picture">
              <img src="{% static 'images/avatar1.png' %}" alt="Profile Picture">
            </div>
            <div class="wallet-id">
              <label for="wallet-id">Wallet ID:</label>
              <input type="text" id="wallet-id" value="0x1234567890abcdef">
            </div>
            <i class="bx bx-moon change-theme header-item" id="theme-button"></i>
            <span class="english">English<i class='bx bxs-down-arrow' ></i></span>
            <span class="usd_format">
              <i class='bx bxs-badge-dollar header-item'>USD<i class='bx bxs-down-arrow' ></i></i>          
            </span>
          </div>
        </div>
      </div>
      <nav class="nav-down">
        <div class="nav__menu">
          <ul class="nav__list ">
            <li class="nav__item" data-filter="all">
              <span class="nav__link active-link" >
                <i class="bx bx-home-alt"></i>
              </span>
            </li>
            <li class="nav__item" data-filter=".dash-assets">
              <div class="nav__link" >
                <i class="bx bx-book"></i>
              </div>
            </li>
            <li class="nav__item" data-filter=".view-stacks">
              <div class="nav__link" >
                <i class="bx bx-briefcase-alt-2"></i>
              </div>
            </li>
            <li class="nav__item" data-filter=".mint-stacks">
              <div class="nav__link" >
                <i class="bx bx-message-square-detail"></i>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      
    </header>

    <main>
      <!-- ================= VAULT SECTION ============================ -->
        <section class="vault section" id="vault">    
          <div class="equity-card">    
            <div class="equity-header">
              <h6 class="equity-subheader">Equity Value (ETH)</h6>
              <i class='bx bx-history equity-subheader'></i>
            </div>
            <h2 class="value-eth">0.0005383</h2>
            <h4 class="value-usd equity-subheader">= $689</h4>
            <div class="average-change">
              <h6 class="equity-subheader">Average Change</h6>
              <h5 class="value-average">0.0000023/<span class="value-average-percent">-0.06%</span></h5>
            </div>
            <div class="equity-buttons">
              <button class="btn btn-secondary equity-button" >View Assets</button>
              <button class="btn btn-secondary equity-button">Browse Stack</button>
              <button class="btn btn-secondary equity-button">Mint Stack</button>
              </div>
          </div>
        </section>
        
        <section >
          <!--====================== PORTFOLIO SECTION ==================  -->
            <section class="mix mix-item portfolio section " id="portfolio">
                <div class="portfolio">
                  <div class="portfolio-heading">
                    <h4 class="portfolio-header">Portfolio</h4>
                    <i class="bx bx-search sub"></i>
                  </div>
                  <p class="portfolio-subheader sub">Top Assets Balances</p>
                  <div class="asset-item">
                    <div class="asset-left">
                      <img class="asset-icon" src="assets/images/btc.png" alt="">
                      <div class="asset-names">
                        <h3 class="asset-name">BTC</h3>
                        <p class="asset-fullname sub">Bitcoin</p>
                      </div>
                    </div>
                    <div class="asset-values">
                      <h3 class="asset-value">0.3732</h3>
                      <p class="asset-change sub">+0.01%</p>
                    </div>
                  </div>
                  <div class="asset-item">
                    <div class="asset-left">
                      <img class="asset-icon" src="assets/images/eth.png" alt="">
                      <div class="asset-names">
                        <h3 class="asset-name">ETH</h3>
                        <p class="asset-fullname sub">Ethereum</p>
                      </div>
                    </div>
                    <div class="asset-values">
                      <h3 class="asset-value">0.0932</h3>
                      <p class="asset-change sub">-0.03%</p>
                    </div>
                  </div>
                  <div class="asset-item">
                    <div class="asset-left">
                      <img class="asset-icon" src="assets/images/btc.png" alt="">
                      <div class="asset-names">
                        <h3 class="asset-name">BTC</h3>
                        <p class="asset-fullname sub">Bitcoin</p>
                      </div>
                    </div>
                    <div class="asset-values">
                      <h3 class="asset-value">0.3732</h3>
                      <p class="asset-change sub">+0.01%</p>
                    </div>
                  </div>
                  <div class="asset-item">
                    <div class="asset-left">
                      <img class="asset-icon" src="assets/images/eth.png" alt="">
                      <div class="asset-names">
                        <h3 class="asset-name">ETH</h3>
                        <p class="asset-fullname sub">Ethereum</p>
                      </div>
                    </div>
                    <div class="asset-values">
                      <h3 class="asset-value">0.0932</h3>
                      <p class="asset-change sub">-0.03%</p>
                    </div>
                  </div>
                  <div class="asset-item">
                    <div class="asset-left">
                      <img class="asset-icon" src="assets/images/btc.png" alt="">
                      <div class="asset-names">
                        <h3 class="asset-name">BTC</h3>
                        <p class="asset-fullname sub">Bitcoin</p>
                      </div>
                    </div>
                    <div class="asset-values">
                      <h3 class="asset-value">0.3732</h3>
                      <p class="asset-change sub">+0.01%</p>
                    </div>
                  </div>
                  <div class="asset-item">
                    <div class="asset-left">
                      <img class="asset-icon" src="assets/images/eth.png" alt="">
                      <div class="asset-names">
                        <h3 class="asset-name">ETH</h3>
                        <p class="asset-fullname sub">Ethereum</p>
                      </div>
                    </div>
                    <div class="asset-values">
                      <h3 class="asset-value">0.0932</h3>
                      <p class="asset-change sub">-0.03%</p>
                    </div>
                  </div>
                  <div class="asset-item">
                    <div class="asset-left">
                      <img class="asset-icon" src="assets/images/btc.png" alt="">
                      <div class="asset-names">
                        <h3 class="asset-name">BTC</h3>
                        <p class="asset-fullname sub">Bitcoin</p>
                      </div>
                    </div>
                    <div class="asset-values">
                      <h3 class="asset-value">0.3732</h3>
                      <p class="asset-change sub">+0.01%</p>
                    </div>
                  </div>
                  <div class="asset-item">
                    <div class="asset-left">
                      <img class="asset-icon" src="assets/images/eth.png" alt="">
                      <div class="asset-names">
                        <h3 class="asset-name">ETH</h3>
                        <p class="asset-fullname sub">Ethereum</p>
                      </div>
                    </div>
                    <div class="asset-values">
                      <h3 class="asset-value">0.0932</h3>
                      <p class="asset-change sub">-0.03%</p>
                    </div>
                  </div>
                  
              
                </div>
            </section>

          <!-- ================= ASSETS TABLE SECTION ======================== -->
            <section class="mix mix-item dash-assets section" id="dash-assets">
                <div class="section-header">
                    <h2 class="section-title">My Assets</h2>
                    <h3 class="section-subtitle">Monitor Your Individual Assets from Here</h3>
                </div>
                <div class="assets-table">
                    <div class="table-wrapper">
                      <table>
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Collection</th>
                            <th>Floor Price</th>
                            <th>Volume 1D</th>
                            <th>Sentiment</th>
                            <th>Next 1D %</th>
                            <th>Next 7D %</th>
                            <th>Accuracy</th>
                            <th>Popularity Trend</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/bored-ape.avif" alt="Avatar" /></span>Bored Apes Yatch Club</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          <tr>
                            <td>2</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/crypto-punks.avif" alt="Avatar" /></span>Crypto Punks</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          <tr>
                            <td>3</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/bored-ape.avif" alt="Avatar" /></span>Bored Apes Yatch Club</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          <tr>
                            <td>4</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/crypto-punks.avif" alt="Avatar" /></span>Crypto Punks</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          <tr>
                            <td>5</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/bored-ape.avif" alt="Avatar" /></span>Bored Apes Yatch Club</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          <tr>
                            <td>6</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/crypto-punks.avif" alt="Avatar" /></span>Crypto Punks</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          <tr>
                            <td>7</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/bored-ape.avif" alt="Avatar" /></span>Bored Apes Yatch Club</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          <tr>
                            <td>8</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/crypto-punks.avif" alt="Avatar" /></span>Crypto Punks</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          <tr>
                            <td>9</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/bored-ape.avif" alt="Avatar" /></span>Bored Apes Yatch Club</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          <tr>
                            <td>10</td>
                            <td class="collection"><span class="asset-avatar"><img src="assets/images/crypto-punks.avif" alt="Avatar" /></span>Crypto Punks</td>
                            <td class="floor-price">$30</td>
                            <td class="volume">$940B</td>
                            <td class="sentiment">Neutral</td>
                            <td class="next1d"> +2.5%</td>
                            <td class="next7d">-0.5%</td>
                            <td class="accuracy">80%</td>
                            <td class="trend"><img src="assets/images/graph.svg" alt=""></td>
                            <!-- Add more cells here -->
                          </tr>
                          
                          
                          
                        </tbody>
                      </table>
                    </div>
                </div>
            </section>  

            <!--================ VIEW STACKS SECTION =========================== -->
            <section class="mix mix-item view-stacks section" id="view-stacks">
              <div class="section-header">
                <h2 class="section-title">My Stacks</h2>
                <h3 class="section-subtitle">View Your Stacks Here</h3>
              </div>
              <div class="stacks-list">
                <div class="stacks-container">
                <div class="stacks-card">
                  <div class="stacks-card-number negative">-26%</div>
                  <div class="stack-items">
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="{% static 'assets/images/explore-product-1.jpg'" alt="">
                            <h3 class="stack-item-name">Crypto Punks</h3>
                        </div>   
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.04 ETH</h5>
                          <h5 class="stack-item-change positive">+2.3%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-2.jpg" alt="">
                            <h3 class="stack-item-name">Bored Apes</h3>
                        </div>  
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.78 ETH</h5>
                          <h5 class="stack-item-change negative">-0.9%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-3.jpg" alt="">
                            <h3 class="stack-item-name">Happy Punks</h3>
                        </div>
                        
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.0003 ETH</h5>
                          <h5 class="stack-item-change positive">+12.01%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-4.jpg" alt="">
                            <h3 class="stack-item-name">Sandbox</h3>
                        </div>     
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.4 ETH</h5>
                          <h5 class="stack-item-change positive">+0.3%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-5.jpg" alt="">
                            <h3 class="stack-item-name">Meebits</h3>
                        </div>
                        
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.066 ETH</h5>
                          <h5 class="stack-item-change negative">-0.1%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-6.jpg" alt="">
                            <h3 class="stack-item-name">Mekaverse</h3>
                        </div>
                        
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">1.1 ETH</h5>
                          <h5 class="stack-item-change">+0.003%</h5>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <button class="place-bid-btn update-stack">Update</button>
                </div>
                <div class="stack-profile ">
                    <div class="stack-profile-top">
                      <h3 class="stack-name">Mega Stack</h3>
                      <div class="stack-prices">
                        <h4 class="stack-price-eth">0.7 ETH</h4>
                        <h6 class="stack-price-usd">$30</h6>
                      </div>
                    </div>
                    <p class="stack-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam porro aut molestias ex repellendus iste, nobis iure in omnis maxime, repellat sint, maiores eos dolor. Optio, veniam aliquam! Natus, asperiores!</p>
                    
                  </div>
                </div>
                <div class="stacks-container">
                <div class="stacks-card">
                  <div class="stacks-card-number positive">+9%</div>
                  <div class="stack-items">
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-1.jpg" alt="">
                            <h3 class="stack-item-name">Crypto Punks</h3>
                        </div>   
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.04 ETH</h5>
                          <h5 class="stack-item-change positive">+2.3%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-2.jpg" alt="">
                            <h3 class="stack-item-name">Bored Apes</h3>
                        </div>  
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.78 ETH</h5>
                          <h5 class="stack-item-change negative">-0.9%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-3.jpg" alt="">
                            <h3 class="stack-item-name">Happy Punks</h3>
                        </div>
                        
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.0003 ETH</h5>
                          <h5 class="stack-item-change positive">+12.01%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-4.jpg" alt="">
                            <h3 class="stack-item-name">Sandbox</h3>
                        </div>     
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.4 ETH</h5>
                          <h5 class="stack-item-change positive">+0.3%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-5.jpg" alt="">
                            <h3 class="stack-item-name">Meebits</h3>
                        </div>
                        
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.066 ETH</h5>
                          <h5 class="stack-item-change negative">-0.1%</h5>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <button class="place-bid-btn update-stack">Update</button>
                </div>
                <div class="stack-profile">
                    <div class="stack-profile-top">
                      <h3 class="stack-name">Gateway Assets</h3>
                      <div class="stack-prices">
                        <h4 class="stack-price-eth">0.09 ETH</h4>
                        <h6 class="stack-price-usd">$8</h6>
                      </div>
                    </div>
                    <p class="stack-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam porro aut molestias ex repellendus iste, nobis iure in omnis maxime, repellat sint, maiores eos dolor. Optio, veniam aliquam! Natus, asperiores!</p>
                    
                  </div>
                </div>
                <div class="stacks-container">
                <div class="stacks-card">
                  <div class="stacks-card-number positive">+14%</div>
                  <div class="stack-items">
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-1.jpg" alt="">
                            <h3 class="stack-item-name">Crypto Punks</h3>
                        </div>   
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.04 ETH</h5>
                          <h5 class="stack-item-change positive">+2.3%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-2.jpg" alt="">
                            <h3 class="stack-item-name">Bored Apes</h3>
                        </div>  
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.78 ETH</h5>
                          <h5 class="stack-item-change negative">-0.9%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-3.jpg" alt="">
                            <h3 class="stack-item-name">Happy Punks</h3>
                        </div>
                        
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.0003 ETH</h5>
                          <h5 class="stack-item-change positive">+12.01%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-4.jpg" alt="">
                            <h3 class="stack-item-name">Sandbox</h3>
                        </div>     
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.4 ETH</h5>
                          <h5 class="stack-item-change positive">+0.3%</h5>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <button class="place-bid-btn update-stack">Update</button>
                </div>
                <div class="stack-profile">
                    <div class="stack-profile-top">
                      <h3 class="stack-name">Alisoft Game Assets</h3>
                      <div class="stack-prices">
                        <h4 class="stack-price-eth">1.02 ETH</h4>
                        <h6 class="stack-price-usd">$230</h6>
                      </div>
                    </div>
                    <p class="stack-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam porro aut molestias ex repellendus iste, nobis iure in omnis maxime, repellat sint, maiores eos dolor. Optio, veniam aliquam! Natus, asperiores!</p>
                    
                  </div>
                </div>
                <div class="stacks-container">
                <div class="stacks-card">
                  <div class="stacks-card-number negative">-12%</div>
                  <div class="stack-items">
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-1.jpg" alt="">
                            <h3 class="stack-item-name">Crypto Punks</h3>
                        </div>   
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.04 ETH</h5>
                          <h5 class="stack-item-change positive">+2.3%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-2.jpg" alt="">
                            <h3 class="stack-item-name">Bored Apes</h3>
                        </div>  
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.78 ETH</h5>
                          <h5 class="stack-item-change negative">-0.9%</h5>
                        </div>
                      </div>
                      
                    </div>
                    <div class="stack-item">
                      <div class="stack-item-card">
                        <div class="stack-item-head">
                            <img class="stack-avatar" src="assets/images/explore-product-3.jpg" alt="">
                            <h3 class="stack-item-name">Happy Punks</h3>
                        </div>
                        
                        <div class="stack-item-info">
                          <h5 class="stack-item-volume">0.0003 ETH</h5>
                          <h5 class="stack-item-change positive">+12.01%</h5>
                        </div>
                      </div>
                      
                    </div>

                  </div>
                  <button class="place-bid-btn update-stack">Update</button>
                </div>
                <div class="stack-profile">
                    <div class="stack-profile-top">
                      <h3 class="stack-name">All Ape NFTs</h3>
                      <div class="stack-prices">
                        <h4 class="stack-price-eth">2 ETH</h4>
                        <h6 class="stack-price-usd">$4000</h6>
                      </div>
                    </div>
                    <p class="stack-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam porro aut molestias ex repellendus iste, nobis iure in omnis maxime, repellat sint, maiores eos dolor. Optio, veniam aliquam! Natus, asperiores!</p>
                    
                  </div>
                </div>
              </div>
            </section>

            <!--================ MINT STACKS SECTION =========================== -->
            <section class="mix mix-item mint-stacks section" id="mint-stacks">
              <div class="section-header">
                <h2 class="section-title">Mint Stacks</h2>
                <h3 class="section-subtitle">Create Your Custom Stacks</h3>
              </div>
              <div class="stacks-container mint-stacks-container">
                    <div class="stacks-card">
                      <div class="stacks-card-number negative">0%</div>
                      <div class="stack-items">
                        <div class="stack-item">
                          <div class="stack-item-card">
                            <div class="stacks-add">
                              <h1 class="stacks-add-icon"> + </h1>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="stack-profile ">
                        <div class="stack-profile-top">
                          <h3 class="stack-name">Add Title</h3>
                          <div class="stack-prices">
                            <h4 class="stack-price-eth">- ETH</h4>
                            <h6 class="stack-price-usd">$ -</h6>
                          </div>
                        </div>
                        <p class="stack-description">Add Description</p>
                    </div>
              </div>
            </section> 
        </section>      
    </main>

     <!--=============== MIXITUP FILTER ===============-->
    <script src="assets/js/mixitup.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/script.js"></script>
    <script>
      /*=============== MIXITUP FILTER PORTFOLIO ===============*/
      let mixerPortfolio = mixitup(".mix-container", {
        selectors: {
          target: ".mix-item",
        },
        animation: {
          duration: 300,
        },
      });

    </script>
  </body>
</html>
{% endblock content %}