{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stackon-verse</title>
    <!---===============  FAVICON =======================  -->
    <link rel="shortcut icon" href="{% static '/images/logo.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <section class="landing">
        <video id="background-video" autoplay loop muted>
            <source src="{% static 'images/video.mkv' %}" type="video/mp4">
            <!-- Add fallback content for unsupported browsers -->
            Your browser does not support the video tag.
        </video>

        <div class="landing-content">
            <h1 class="landing-title">Welcome to the Stackon-verse</h1>
            <p class="landing-description">We rule the NFT Universe as our geeks are smart and able to predict the future worth of our fellow NFTs. Using AI-Powered Stack Geeks NFTs to Monitor, Evaluate, and Predict Your NFT Portfolio with the Sentiment Precision and Insight from World investors on Twitter, Telegram, Discord and Reddit.</p>
            <div class="landing-buttons">
                <a href="{% url 'index' %}"><button class="btn btn-secondary landing-button landing-button-left"> <span class="landing-button-icon"></span></button></a>
                <a href="{% url 'playground' %}"><button class="btn btn-secondary landing-button landing-button-right"><span class="landing-button-icon"></span></button></a>
            </div>
            <button class="btn btn-secondary header-item watch-landing-button">Watch our Universe <span class="landing-button-icon"><i class='bx bx-play-circle'></i></span> </button>
        </div>

    </section>
</body>
</html>
{% endblock content %}